
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
  :root {
    --bg-primary: #131212;
    --color-secondary: #cea86b;
  }
  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-primary);
    color: var(--color-secondary);
    
  }

  .signin-btn{
    background-color: var(--bg-primary);
    color: var(--color-secondary);
    padding: 2.5vh;
    width: 15vh;
    height: 5vh;
    align-items: center;
  /* font-size: larger; */
    cursor: pointer;
  }

  .profile-btn{
    background-color: var(--bg-primary);
    color: var(--color-secondary);
    padding: 3vh;
    height: 20vh;
    border-radius: 25%;
    border: 1px solid var(--color-secondary);
    font-size: larger;
    cursor: pointer;
  }
  