.header-comp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0vh 5vh 0vh 5vh;
}
@media (max-width:768px)
{
  .header-comp{
    
    .logo-img{
      height: 8vh;
      width: 100%;
    }
  }
}